---
layout: default
title: Cybersecurity in 2020 
permalink: /2019-in-review/
albums:
    - cover: assets/images/yearinphotos/2019/santa-teresa-demo-day.jpg
      link: https://www.cyberdefendersprogram.com/cyberexplorers/
      title: Cyber Explorers
    - cover: assets/images/yearinphotos/2019/escaperoom.jpg
      link: https://www.cyberdefendersprogram.com/escaperoom/
      title: Escape Room
    - cover: assets/images/yearinphotos/2019/hackathon.jpg
      title: Hackathon
      link:  https://www.cyberdefendersprogram.com/hackathon/
    - cover: assets/images/yearinphotos/2019/nonprofit.jpg
      title: Non Profit Workshop
      link:  https://www.cyberdefendersprogram.com/workshop/
    - cover: assets/images/yearinphotos/2019/teachertraining.jpg
      title: Teacher Training
      link:  https://www.cyberdefendersprogram.com/games4security/
numbers:
    - image: 
      titlenum: 900+
      title: Students
      details: Number of students, and adults who visited our escape rooms in 2019!
      link: https://www.cyberdefendersprogram.com/escaperoom/
    - image:
      titlenum: 5
      title: Escape Rooms
      details: We did 5 escape rooms 1 at SF Public library, 1 at Santa Teresa High School and 3 at Maker Faire (Palo Alto, Alameda, and Oakland). Fastest time was 4mins 30 seconds, and average about 15 minutes.
      link: https://www.cyberdefendersprogram.com/escaperoom/
    - image: 
      titlenum: 8
      title: Hackathon Projects
      details: Our annual hackathon had 8 projects. All of them were reviewed and apprised by industry.
      link: https://www.cyberdefendersprogram.com/hackathon/
    - image: 
      titlenum: 3
      title: Summer Program Cohorts
      details: Our summer program featured 3 industry (for-profit and non-profit) led projects.
      link: https://www.cyberdefendersprogram.com/summerprogram/
    - image: assets/images/icons/student.png
      titlenum: 25+
      title: High School Students
      details: With Cyber Explorers we trained more than 25 highschool kids who completed 8 projects at Santa Teresa HighSchool.
      link: https://www.cyberdefendersprogram.com/cyberexplorers/
    - image: 
      titlenum: 20+
      title: Teachers trained
      details: We trained more than 20 teachers at NICE K12 Conference on using games in cyber security classroom.
      link: https://www.cyberdefendersprogram.com/games4security/
    - image:
      titlenum: 12+
      title: Security Tools for Non Profits
      details: We have over 12 tools to make cyber security easy for non profits.
      link: https://www.cyberdefendersprogram.com/securitytools4nonprofits/
      
---
<section>
    <div class="container">
        <div class="hero">
            <h1 class="predictions-headline">2019 In Review!</h1>
            <p class="predictions-tagline">We compiled our work in 2019 in photos, numbers and more! We are looking forward to an equally amazing 2020!.<br/><br/>Please also check our<br/><a class="button is-medium is-primary" href="/predictions-2020/">2020 Cyber Security Predictions</a></p>
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="container">
        <h1 class="title">2019 in Photos</h1>
        <div class="columns is-multiline">
            {% for album in page.albums %}
            <div class="column is-one-half-desktop is-half-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="{{site.url}}{{site.baseurl}}/{{album.cover}}" alt="">
                        </figure>
                        <div class="card-content is-overlay is-clipped">
                            <span class="tag is-info">
                            {{album.title}}
                            </span>       
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href={{album.link}}>
                            {{album.title}}
                        </a>
                    </footer>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="container">
        <h1 class="title">2019 in Numbers</h1>
        <div class="columns is-multiline">
        {% for item in page.numbers %}
            <div class="column is-6-tablet is-3-desktop">
                <div class="box">
                    <div class="media">
                        <div class="media-left">
                            {% if item.image %}
                            <figure class="image is-48x48">
                                <img src={{site.url}}{{site.baseurl}}/{{item.image}}></img>
                            </figure>
                            {% endif %}
                        </div>
                        <div class="media-content has-text-right">
                            <h3 class="title is-1 has-text-info">{{item.titlenum}}</h3>
                        </div>
                    </div>
                    <h4 class="title is-4">{{item.title}}</h4>
                    <p>{{item.details}}</p>
                </div>
                <footer class="card-footer">
                        <a class="card-footer-item" href={{item.link}}>
                          Find Out More!
                        </a>
                </footer>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="container">
            <h4 class="title">2019 in Videos</h4>
            <iframe width="560" height="315" style="height: 315px !important" src="https://www.youtube.com/embed/75Ox1yTyL7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <hr/>
            <iframe width="560" height="315" style="height: 315px !important" src="https://www.youtube.com/embed/MhfhbF-ufhw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<hr/>