---
layout: list
title: Security Tools for Non Profits
permalink: /securitytools4nonprofits/
categories:
    - name: Risk Assessment
      logo: fas fa-vials
      description: Various tools to help with risk assessment.
    - name: Intrusion Detection
      logo: fas fa-crown
      description: Intrusion detection.
    - name: Education
      logo: fas fa-crown
      description: Awareness and education tools.
    - name: Cloud
      logo: fas fa-cloud
      description: Making your cloud secure!
tools:
    category:
        - 
    link:
    description:
---
<section class="hero is-info is-small is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-two-third">
                        <h1 class="title is-middle is-2 is-spaced">
                            Security Tools for Non Profits
                        </h1>
                        <h2 class="subtitle is-4 is-spaced">
                            Curated list of all the best security tools and resources (and an optional monthly newsletter) to help you build a secure not for profit company.
                        </h2>
                    </div>
                    <div class="column is-one-third">
                        <img src="{{site.url}}{{site.baseurl}}assets/images/sectools4nonprofit/unsplash.jpg">
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="box cta">
    <div class="container">
        <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://medium.us18.list-manage.com/subscribe/post?u=e5da77de24f00c0773685439c&amp;id=24c26410b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe for updates to this list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5da77de24f00c0773685439c_24c26410b6" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    
    <!--End mc_embed_signup-->
    </div>
</div>
<section>
        <div class="container">
        <div class="columns is-multiline is-mobile is-centered">
        {% for category in page.categories %}  
            <div class="column is-one-fourth">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title"><span class="icon is-large">
                                <i class="{{category.logo}} is-128x128" style="color:deepskyblue"></i>
                            </span><a href="{{category.link}}">{{category.name}}</a></h4>
                            <p>{{category.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
</section>
<section>
<div class="container">
    <h1 class="title">Resources & Tools</h1>
    <div class="columns is-multiline is-mobile is-centered">
    {% for tool in site.data.securitytools4nonprofits %}  
        <div class="column is-one-third">
            <div class="card is-shady">
                <div class="card-content">
                    <div class="content">
                        <p class="is-project-title">{{tool.title}}</p>
                        <h6>{{tool.type}}</h6>
                        <p>{{tool.description}}</p>
                        <p>Link: <a href='{{tool.link}}'>{{tool.type}}</a></p>
                        <span class="tag is-black">{{tool.tag}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</section>
<section>
    <h1 class="subtitle">Workshop Feedback & Ideation</h1>
    <p>Our workshop at NICE K12 Conference on Dec 10, 2019 received following feedback and ideation on what the teachers who do next!</p>
    <ul>
    {% for idea in site.data.games4security-workshop-followup %}
        <li>{{idea.idea1}}</li>
    {% endfor %}
    </ul>
</section>