---
layout: default
title: Navigating Cybersecurity challenges as a Public Good Organization 
permalink: /workshop/
participants:
    - name: Mel Masterson
      company: Airbnb
      linkedin: 
      photo: assets/images/workshop/participants/mel.jpeg
      description: Interested in helping nonprofits do incident response.
      tags:
        - Security Expert
    - name: Steve Trush
      company: CLTC, Berkeley
      linkedin: https://www.linkedin.com/in/trushs/
      photo: assets/images/workshop/participants/steve.jpeg
      description: Interested in helping nonprofits do risk assessment.
      tags:
        - Non Profit Security
    - name: Gisela Pérez de Acha
      company: UC Berkeley
      linkedin: https://www.giselaperezdeacha.com/gisela
      photo: assets/images/workshop/participants/gisela.jpeg
      description: Gisela Pérez de Acha is a journalist focused on data, digital verification and investigative reporting. 
      tags:
        - Investigative Reporting
    - name: Jackie Singh
      company: Spyglass Security
      linkedin: https://www.linkedin.com/in/FindEvil
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment.
      tags:
        - Consultant
    - name: Raymundo Jacquez
      company: Centro Legal de la Raza
      linkedin: https://www.linkedin.com/in/raymundo-jacquez-68b3a07a/
      photo: assets/images/workshop/participants/raymundo.jpeg
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Gabe Hanzel Sallo
      company: Growth Sector
      linkedin: https://www.linkedin.com/in/gabriel-hanzel-sello-9809a27/
      photo: assets/images/workshop/participants/gabe.jpeg
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Angelica Mena
      company: 
      linkedin: 
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Hui Shao
      company: SFGov
      linkedin: 
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Anthony Kong
      company: SFGov
      linkedin: 
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Andrea Egan
      company: SFGov
      linkedin: 
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Carolina Martin Ramos
      company: Centrolegal de la Raza
      linkedin: 
      photo: assets/images/workshop/participants/placeholder.png
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Non Profit Security
    - name: Chloé Messdaghi
      company: Point3 Security, Inc
      linkedin: https://www.linkedin.com/in/messdaghi/
      photo: assets/images/workshop/participants/chloe.jpeg
      description: Interested in helping nonprofits do risk assessment and cyber secuirty best practices.
      tags:
        - Security Expert
---
<div class="hero is-info is-medium has-background">
    <img alt="Fill Murray" class="hero-background is-transparent"/>  
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-third">
                    <h1 class="title is-middle is-2 is-hackathon-h1">
                        Navigating Cybersecurity challenges as a Public Good Organization!
                    </h1>
                    <h1 class="subtitle is-6 is-hackathon-h3">
                        Join us for an evening of discussion on the unique cybersecurity challenges facing Non-Profit, B-Corps, and Municipal organizations. Cyber Defenders and our partners will highlight the most common threats and various tools, strategies, and expertise available. Food will be provided by our host, the Airbnb Information Security CSIRT team.
                    </h1>
                    <div class="buttons is-large">
                            <a class="button is-medium is-danger" href="https://www.eventbrite.com/e/cyber-defenders-workshop-navigating-cybersecurity-challenges-as-a-public-good-organization-tickets-80200005375">Sign Up Now!</a>
                            <a class="button is-medium is-primary" href="{{site.url}}{{site.baseurl}}assets/images/workshop/flyer.jpg">Flyer - Get Involved?</a>
                            <a class="button is-medium is-hackathon-apply" href="{{site.url}}{{site.baseurl}}assets/pdf/program-highlights-2019.pdf">Support Us!</a>
                    </div>
                </div>
                <div class="column is-two-third">
                        <img src="{{site.url}}{{site.baseurl}}assets/images/workshop/flyersocial.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<section>
        <div class="container">
            <h1 class="title">Summer Program</h1>    
            <div class="columns">
                    <div class="column">
                        <img src="{{site.url}}{{site.baseurl}}assets/images/workshop/students-1.jpg">
                    </div>
                        <div class="column">
                        <img src="{{site.url}}{{site.baseurl}}assets/images/workshop/students-2.jpg">
                    </div>
                        <div class="column">
                        <img src="{{site.url}}{{site.baseurl}}assets/images/workshop/students-3.jpg">
                    </div>
            </div>
        </div>
    </section>
<hr/>
<section>
    <div class="container">
        <h1 class="title">Workshop Participants</h1>
        <div class="columns is-multiline is-mobile is-centered">
        {% for participant in page.participants %}  
            <div class="column is-one-third">
                <div class="card is-shady">
                    <div class="card-image">
                        <figure class="image is-128x128">    
                                <img class="is-rounded" src={{site.url}}{{site.baseurl}}{{participant.photo}}>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4><a href="{{participant.linkedin}}">{{participant.name}}</a></h4>
                            <h6>{{participant.company}}</h6>
                            <p>{{participant.description}}</p>
                            {% for tag in participant.tags %}
                            <span class="tag is-black">{{tag}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<hr/>
<section class="section">
    <div class="container">
        <h1 class="title">Workshop Resources</h1>
        <ol>
            <li>Security Tools and Resourcese for Non Profits <a class="button is-small is-danger" href="/securitytools4nonprofits">Our List</a></li>.
        </ol>

        <h1 class="title">Proposed Agenda</h1>
        <ul>
             <li>6:00-6:30 pm - Arrival, registration, networking.</li>
             <li>6:30-7:00 pm - Introductory presentation on unique cybersecurity challenges facing public good orgs. These topics will cover highlights from 15-minute interviews with attendees.</li>
             <li>7:00-7:30 pm - Presentation on tools and strategies for public good organizations.</li>
             <li>7:30-8:00 pm - A collaborative problem solving design session on cybersecurity for public good orgs.</li>
             <li>8:00-8:30 pm - Pitch for Cyber Security Programs to assist public good orgs in the Bay Area</li>
             <li>8:30-9:00 pm - Networking</li>
        </ul>
    </div>
    <hr/>
    <div class="container">
        <h1 class="title">Frequently Asked Questions (FAQs)</h1>
        <p><b>Will you provide computers?</b><br>No, we expect participants to bring their laptop computers. Please reach out to us if you will have issue with that.</p>
        <p><b>Should I apply sooner to qualify?</b><br>Yes, we have limited seats so please apply early.</p>
    </div>
</section>
