<div class="top-cta-notification" id="cta-notification" data-cookie-name="ind-giving-2020" data-cookie-expiration="3" style="background-color: rgb(70, 96, 136); display: block;">
    <div class="container is-fluid cta-notification-content has-text-centered">
        <span>CyberDefenders is an independently funded nonprofit project.. </span>

        <a href="/donate" 
           class="button is-small is-danger" id="ind-giving-2020" target="_blank">
           Donate 
           <i class="fas fa-heart"></i>
        </a>
        
        <button class="button is-small top-dismiss-btn" id="dismiss-ind-giving-2020" onclick="dismissDonate()">Ask me later</button>
    </div>
</div>
