<!---------------------------------------------------->  
<!--                     Footer                     -->  
<!----------------------------------------------------> 
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4d8dd747-7a42-4e7a-9752-88948f645cee";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column">
              <a href="#"><image src="{{ site.baseurl }}assets/logo.png" class="image" height="64" width="64"></a><br>
                <br />
                <span class="icon-footer"><a href="{{ site.twitter }}"><i class="fab fa-1x fa-twitter"></i></a></span>
                <span class="icon-footer"><a href="{{ site.facebook }}"><i class="fab fa-1x fa-facebook-square"></i></a></span>
                <span class="icon-footer"><a href="{{ site.medium }}"><i class="fab fa-1x fa-medium"></i></a></span>
                <span class="icon-footer"><a href="{{ site.linkedIn }}"><i class="fab fa-1x fa-linkedin"></i></a></span>
                <span class="icon-footer"><a href="{{ site.gitrepo }}"><i class="fab fa-1x fa-github-square"></i></a></span>
                <br />
                <br />
                <h5>Copyright 2018 Cyber Defenders</h5><br>
            </div>
            <div class="column">
              <ul>
                  <li><span class="footer-title">More Information</span></li> 
                  <li><span class="footer-link"><a href="/index.html">About</a></span></li>
                  <li><span class="footer-link"><a href="/contact.html">Contact</a></span></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li><span class="footer-title">Programs</span>               </li>
                <li><span class="footer-link"><a href="{{ site.summerProgram }}">Summer Program</a></span><br></li>
                <li><span class="footer-link"><a href="/hackathons.html">Hackathons</a></span></li>
                <li><span class="footer-link"><a href="#">Cyber Explorers Program</a></span></li>
              </ul>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
    </footer>