<!---------------------------------------------------->  
<!--                     Footer                     -->  
<!----------------------------------------------------> 
    <!-- Global site tag (crisp.js) - Website Messaging -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4d8dd747-7a42-4e7a-9752-88948f645cee";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137483057-1');
    </script>

    <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column is-3 is-offset-2">
            <ul>
              <li><span class="tag is-warning">Social Media</span></li>
              <li><span class="icon-footer"><a href="{{ site.twitter }}"><i class="fab fa-twitter"></i>Twitter</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.facebook }}"><i class="fab fa-facebook-square"></i>Facebook</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.medium }}"><i class="fab fa-medium"></i>Blog</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.linkedIn }}"><i class="fab fa-linkedin"></i>LinkedIn</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.instagram }}"><i class="fab fa-instagram"></i>Instagram</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.spectrum }}"><i class="fab fa-slack"></i>Community Forum</a></span></li><span class="tag is-primary">New</span>
              </ul>
            </div>
            <div class="column is-3">
              <ul>
                  <li><span class="tag is-info">More Information</span></li> 
                  <li><span class="footer-link"><a href="/">About</a></span></li>
                  <li><span class="footer-link"><a href="/contact">Contact</a></span></li>
                  <li>Donate</li>
                  <li>Volunteer</li>
              </ul>
            </div>
            <div class="column is-4">
              <ul>
                <li><span class="tag is-danger">Programs</span></li>
                <li><span class="footer-link"><a href="/cyberexplorers">Cyber Explorers Program</a></span></li>
                <li><span class="footer-link"><a href="/hackathons">Hackathon</a></span></li>
                <li><span class="footer-link"><a href="/escaperoom">Escape Room</a></span></li>
                <li><span class="footer-link"><a href="{{ site.summerProgram }}">Summer Program</a></span><br></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
            <div class="content has-text-centered">
                <div class="control level-item">
                    <a href="#"><image src="{{ site.url }}{{ site.baseurl }}assets/images/logo.png" class="image" height="32" width="32"></a><br>
                        <div class="tags has-addons">
                            <span class="tag is-dark">Cyber Defenders Program</span>
                            <span class="tag is-info">Copyright 2019.</span>
                        </div>
                    </a>
                </div>
            </div>
            

        </div>
    </footer>