<!---------------------------------------------------->  
<!--               Navbar Section                   -->  
<!---------------------------------------------------->  
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}">
                <img src="{{ site.baseurl }}assets/logo.png" alt="Do no harm">
                <h1 class="navbar-item" href="{{ site.baseurl }}">Cyber Defenders Program</h1>
            </a>
            <a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu" >
          <div class="navbar-end">
            <div class="navbar-item">
              <a class="navbar-item">
                About
              </a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item">
                Programs
              </a>
              <div class="navbar-dropdown">
                <a href="{{site.blog}}" class="navbar-item">
                  Summer Program
                </a>
                <a href="{{site.blog}}" class="navbar-item">
                  Navigators Program
                </a>
                <a href="{{site.blog}}" class="navbar-item">
                  Bootcamp
                </a>
                <a href="{{site.blog}}" class="navbar-item">
                  Hackathons
                </a>
                <a href="{{site.blog}}" class="navbar-item">
                  Explorers Programs
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item">
                Projects
              </a>
              <div class="navbar-dropdown">
                  <a href="{{site.shenzibanzaigitrepo}}" class="navbar-item">
                    Shenzi & Banzai
                  </a>
                  <a href="{{site.secrepogitrepo}}" class="navbar-item">
                    SecRepo
                  </a>
                  <a href="#" class="navbar-item">
                    Redteam Learning Sandbox
                  </a> 
              </div>
            </div>
            <div class="navbar-item">
              <a class="navbar-item">
                Advisors
              </a>
            </div>
            <div class="navbar-item">
              <a class="navbar-item">
                Industry Partners
        
            </div>
            <div class="navbar-item">
              <a class="navbar-item">
                Contact
              </a>
            </div>
          </div>
        </div>
    </nav>  
    </div>   
    <section class="hero is-light is-large">
      <div class="hero-head">

      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title is-left is-2 is-spaced">
                    Bridging the gap between institutional education and the cybersecurity industry
                  </h1>
                  <h2 class="subtitle is-4 is-spaced">
                    Cyber Defenders provides cybersecurity programs that give students a gateway into a cybersecurity career.
                </h2>
                <div class="buttons is-large">
                  <a class="button is-medium" href="#">Find out more</a>
                  <a class="button is-medium" href="#">Get involved</a>
                </div>
            </div>
            <div class="column">
                <img src="{{ site.baseurl }}assets/undraw-svgs/undraw_bug_fixing_oc7a.svg">
            </div>
            </div>
          </div>

          </div>
      </div>
      <div class="hero-footer">

    </div>
    </section>