<!---------------------------------------------------->  
<!--               Navbar Section                   -->  
<!---------------------------------------------------->  
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}">
            <img src="{{site.url}}{{site.baseurl}}assets/images/logo-title.png" alt="Do no harm">
            <title class="navbar-item" href="{{site.url}}{{site.baseurl}}"></title>
        </a>
        <a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
        <div class="navbar-menu" id="navMenu" >
          <div class="navbar-end">
            <a href="/" class="navbar-item">About</a>
            <a href="/advisors" class="navbar-item">Advisors</a>
            <a href="/partners" class="navbar-item">Partners</a>
            <a href="/stories" class="navbar-item">Success Stories</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Programs</a>
                <div class="navbar-dropdown">
                  <a href="/cyberexplorers" class="navbar-item">Explorers Program</a>
                  <a href="/hackathons" class="navbar-item">Hackathons</a>
                  <a href="/bootcamp" class="navbar-item">Bootcamp</a>
                  <a href="/escaperoom" class="navbar-item">Escape Room</a>
                  <a href="{{ site.summerProgram }}" class="navbar-item">Summer Program</a>
                  <a href="{{ site.blog }}" class="navbar-item">Navigators Program</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Projects</a>
                <div class="navbar-dropdown">
                    <a href="/blockchain" class="navbar-item">Shenzi & Banzai</a>
                    <a href="{{ site.secrepoGitrepo }}" class="navbar-item">SecRepo</a>
                    <a href="{{ site.redteamMedium }}" class="navbar-item">Redteam Learning Sandbox</a> 
                </div>
              </div>
            <a href="/contact" class="navbar-item">Contact</a>
            <a href="/contact" class="navbar-item is-donate">Donate</a>
          </div>
        </div>
  </div>
</nav>