<!---------------------------------------------------->  
<!--               Navbar Section                   -->  
<!---------------------------------------------------->  
{% include donate.html %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}">
            <img src="{{site.url}}{{site.baseurl}}assets/images/logo-title.png" alt="Do no harm">
            <title class="navbar-item" href="{{site.url}}{{site.baseurl}}"></title>
        </a>
        <a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
        <div class="navbar-menu" id="navMenu" >
          <div class="navbar-end">
            <a href="/about" class="navbar-item">About</a>
            <a href="/advisors-and-partners" class="navbar-item">Advisors & Partners</a>
            <a href="/stories" class="navbar-item">Success Stories</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Programs</a>
                <div class="navbar-dropdown">
                  <a href="/workshops/zero-to-one-datascience-to-ai" class="navbar-item">Zero to One Datascience To AI by First Principles (Workshop)&nbsp;<span class="tag is-warning">In Session!</span></a>
                  <a href="/cis-60" class="navbar-item">CIS 60 Computer Forensics Fundamentals (Merritt College)&nbsp;<span class="tag is-warning">Completed!</span></a>
                  <a href="/cis-55" class="navbar-item">CIS 55 Hacker Techniques (Merritt College)&nbsp;<span class="tag is-info">Completed!</span></a>
                   <a href="/cis-53" class="navbar-item">CIS 53 Intrusion Detection (Merritt College)&nbsp;<span class="tag is-info">Completed!</span></a>
                  <a href="/cis-52" class="navbar-item">CIS 52 Cloud Security (Merritt College)&nbsp;<span class="tag is-warning">Completed!</span></a>
                  <a href="/cd-growthsector-python-academy" class="navbar-item">2023 Growth Sector Python Academy&nbsp;<span class="tag is-info">Completed!</span></a>
                  <a href="/cyberexplorers-ncat" class="navbar-item">2023 NCAT CypherCoders Program&nbsp;<span class="tag is-info">Completed!</span></a>
                  <a href="/securityplus" class="navbar-item">Security+ Certification&nbsp;<span class="tag is-info">Done</span></a>
                  <a href="/cyberexplorers-rocksf" class="navbar-item">RockSF StarCoders Program&nbsp;<span class="tag is-warning">Done</span></a>
                  <a href="/oscpstudygroup" class="navbar-item">OSCP Study Group&nbsp;<span class="tag is-danger">New!</span></a>
                  <a href="/games4security" class="navbar-item">Games 4 Security&nbsp;<span class="tag is-info">All Ages</span></a>
                  <a href="/escaperoom" class="navbar-item">Harry Potter Escape Room&nbsp;<span class="tag is-info"> All Ages</span></a>
                  <a href="/workshop" class="navbar-item">Cybersecurity for Non-profits &nbsp;<span class="tag is-info">New! Workshop</span><span class="tag is-danger">Partner Event</span></a>
                  <a href="/securitytools4nonprofits" class="navbar-item">Non Profits Security Tools&nbsp;<span class="tag is-info">Tools</span></a>
                  <a href="/summerprogram" class="navbar-item">Summer Program &nbsp;<span class="tag is-info">College</span><span class="tag is-danger">Demo Day</span></a>
                  <a href="/hackathons" class="navbar-item">Hackathons<span class="tag is-danger">Sign-Up!</span></a>
                  <a href="/bootcamp" class="navbar-item">Introduction to CyberSecurity Bootcamp</a>
                  <a href="/cyberexplorers" class="navbar-item">Cyber Explorers Program &nbsp;<span class="tag is-warning">Highschool</span></a>
                  <a href="{{ site.blog }}" class="navbar-item">Navigators Program&nbsp;<span class="tag is-info">College</span></a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Projects</a>
                <div class="navbar-dropdown">
                    <a href="/jobboard" class="navbar-item">Job Board&nbsp;<span class="tag is-danger">New!</span></a>
                    <a href="https://python.cyberdefendersprogram.com" class="navbar-item">Python For CyberSecurity &nbsp;<span class="tag is-danger">In Session!</span></a>
                    <a href="{{ site.secrepoGitrepo }}" class="navbar-item">SecRepo &nbsp;<span class="tag is-danger">Updated!</span</a>
                    <a href="/blockchain" class="navbar-item">Shenzi & Banzai</a>
                    <a href="{{ site.redteamMedium }}" class="navbar-item">Redteam Learning Sandbox</a> 
                </div>
              </div>
            <a href="{{site.blog}}" class="navbar-item">Blog</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Misc</a>
              <div class="navbar-dropdown">
                <a href="/2019-in-review" class="navbar-item">2019 in Review</a>
                <a href="/calendar" class="navbar-item">2020 Calendar</a>
              </div>
            </div>
            <a href="/donate" class="navbar-item is-donate">Donate</a>
          </div>
        </div>
  </div>
</nav>
