---
layout: default
title: Hackathons | Cyber Defenders Program
permalink: /jobboard/
---
<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-two-third">
                    <h1 class="title is-middle is-1 is-spaced">
                        Internships, Jobs & Other Opportunities
                    </h1>
                    <h2 class="subtitle is-4 is-spaced">
                        We work hard to open the right doors for our students.
                    </h2>
                </div>
                <div class="column is-one-third">
                        <figure class="image">
                            <img src="{{ site.url }}{{site.baseurl}}assets/undraw-svgs/undraw_instant_support_elxh.svg">
                        </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box cta">
            Up & Coming Career Tracks - Detection Engineer, Incident Responder
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="title is-4">Active Opportunities</h3>
        <div class="columns is-multiline is-mobile is-centered">
        {% for job in site.data.jobs %}
            {% unless job.archived %}
            <div class="column is-one-third">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4><a href="{{job.link}}">{{job.title}}</a></h4>
                            <h6>{{job.company}}</h6>
                            <p>{{job.description}}</p>
                            {% for tag in job.tags %}
                                <span class="tag is-primary">{{tag}}</span>
                            {% endfor %}
                            {% if job.valid_till %}
                                <span class="tag is-warning">Valid till: {{job.valid_till}}</span>
                            {% endif %}
                            <h6>Submitted By {{job.by}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endunless %}
        {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="title is-4 has-text-grey">Archived Opportunities</h3>
        <div class="columns is-multiline is-mobile is-centered">
        {% for job in site.data.jobs %}
            {% if job.archived %}
            <div class="column is-one-third">
                <div class="card is-shady" style="opacity: 0.7;">
                    <div class="card-content">
                        <div class="content">
                            <h4><a href="{{job.link}}" class="has-text-grey">{{job.title}}</a></h4>
                            <h6 class="has-text-grey">{{job.company}}</h6>
                            <p class="has-text-grey">{{job.description}}</p>
                            {% for tag in job.tags %}
                                <span class="tag is-light">{{tag}}</span>
                            {% endfor %}
                            {% if job.valid_till %}
                                <span class="tag is-light">Expired: {{job.valid_till}}</span>
                            {% endif %}
                            <h6 class="has-text-grey">Submitted By {{job.by}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
