html,body {
    background: #EFF3F4;
    font-family: 'Lato', sans-serif;;
  }

  .hero-body .title {
    color: hsl(192,17%,99%) !important;
  }
  .hero-body .subtitle {
    color: hsl(192,17%,99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
  }
  .features {
    padding: 5rem 0;
  }
  .box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  .card-image{
    font-size: 8rem;
    padding-top: 2rem;
    padding-left: 5rem;
    color: #eff3f4;
  }
  .card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
  }
  .card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
  }
  .intro {
    padding: 5rem 0;
    text-align: center;
  }
  .sandbox {
    padding: 5rem 0;
  }
  .tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
  }
  .is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
  }

/* main */
.is-sleek{
  border-radius: 20px;
}

/* footer */
footer .footer-title {
  text-decoration-line: underline;
}

/* donate */
a.is-donate {
  color: rgba(255, 0, 0, 0.575);
}
a.is-donate:hover{
  background-color: rgba(255, 0, 0, 0.575);
}

/* lists */
ol {
  list-style-type: lower-roman;
  background: #03f8ec;
  padding: 20px;
}