html,body {
    background: #EFF3F4;
    font-family: 'Lato', sans-serif;;
  }

  .hero-body .title {
    color: hsl(192,17%,99%) !important;
  }
  .hero-body .subtitle {
    color: hsl(192,17%,99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
  }
  .features {
    padding: 5rem 0;
  }
  .box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  .card-image{
    font-size: 8rem;
    padding-top: 2rem;
    padding-left: 5rem;
    color: #eff3f4;
  }
  .card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
  }
  .card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
  }
  .intro {
    padding: 5rem 0;
    text-align: center;
  }
  .sandbox {
    padding: 5rem 0;
  }
  .tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
  }
  .is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
  }

/* main */
.is-sleek{
  border-radius: 20px;
}

/* footer */
footer .footer-title {
  text-decoration-line: underline;
}

/* donate */
a.is-donate {
  color: rgba(255, 0, 0, 0.575);
}
a.is-donate:hover{
  background-color: rgba(255, 0, 0, 0.575);
}

/* lists */
ol {
  padding: 10px;
  padding-left: 20px;
}

p {
  padding: 10px;
}
/* hackathon */
.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.is-hackathon-sideleft{
	padding: 10px 50px;
	color:#fff;
	background-color: #062F49;
}

.is-hackathon-sideright{
	padding: 10px 50px;
	color:#000;
}

#sampleimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.is-hackathon-footnote{
	background-color: #F1F3FA;
}

.column.imgs{
	padding: 0px;
}

.tag:not(body).is-primary
{
background-color: #5893BC;
font-family: 'Roboto Mono', monospace;
font-weight: 700;
}

.box:not(:last-child){
	margin-bottom: 1px;
}

.is-hackathon-h1 {
  font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}

.is-hackathon-h2 {
  font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 24px;
	color: #5893BC;
	padding-bottom: 10px;
}

.is-hackathon-h3{
  font-family: 'Roboto Mono', monospace;
	font-weight: 700;
  font-size: 18px;
}

ul.is-hackathon-list {
  list-style-type: square;
  margin-left: 25px; 
}

.is-hackathon-list li{
	padding: 10px;
}

.is-hackathon-apply{
  background-color: rgb(166, 188, 88);
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: #fff;
  border-width: 0px;
  width: 80%;
  }

a.is-hackathon-apply{
  color: #fff;
}

ul.is-feedback-list {
  list-style-type: disc;
  margin-left: 2px;
}

p.is-feedback-title{
  background-color: #5893BC;
  color: #fff; 
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0px;
}

p.is-project-title{
  color: rgba(255, 0, 0, 0.575) !important;
  font-size: 16px;
  font-weight: 900;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
  margin-left: 0px;
}