<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>

    {% include navbar.html %}
    
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <div class="container">
            <p class="title is-3">{{page.title}}</p>
            </div>
        </div>
    </section>

    <section>
      <div class="container">
        {{content}}
      </div>
    </section>

    {% include footer.html %}

    <script src="{{site.url}}{{ site.baseurl }}assets/js/main.js"></script>
  </body>
</html>