name: Update CIS55 Schedule

on:
  schedule:
    # Runs at 01:00 UTC every day
    - cron: '0 1 * * *'
  workflow_dispatch:  # Allows manual triggering

jobs:
  update-popular-posts:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        cd data-runners/yaml-datagen
        pip install -r requirements.txt

    - name: Run update script
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      run: |
        cd data-runners/yaml-datagen
        echo "$GOOGLE_APPLICATION_CREDENTIALS" > google_credentials.json
        python yaml_datagen.py --credentialspath 'google_credentials.json' --gsheet --input '1JuglqOYkoncahXHFkPNxMMvW5V42Afc86Avgdc4uPUo' --output '../../_data/merritt-cis55-2025-spring-schedule.yml'
    - name: Commit and push if changed
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add _data/merritt-cis55-2025-spring-schedule.yml
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update CIS55 schedule" && git push)
